<div class="row">
  <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 padding-top-30-bottom-10">
    <h2 class="text-center">Available equipments</h2>
  </div>
</div>
<div class="row">
  <div class="col-sm-10 offset-sm-1">
      <button type="button" class="btn btn-outline-secondary float-left margin-bottom-10" data-toggle="modal"  data-target="#allocateEmployeeEquipment">Allocate equipments</button>
    <table class="table table-hover">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Mabec Code</th>
        <th scope="col">Protection Type</th>
        <th scope="col">Size</th>
        <th scope="col">Sex</th>
        <th scope="col">Allocate</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let equipment of equipments;">
        <td>{{equipment.name}}</td>
        <td>{{equipment.code}}</td>
        <td>{{equipment.mabecCode}}</td>
        <td>{{equipment.protectionType}}</td>
        <td>{{equipment.size}}</td>
        <td>{{equipment.sex}}</td>
        <td><input type="checkbox" [(ngModel)]="equipment.isChecked" (click)="setEquipments(equipment)"></td>
        <td><input type="date" [(ngModel)]="equipment.startDate" [disabled]="!equipment.isChecked" required></td>
        <td><input type="date" [(ngModel)]="equipment.endDate" [disabled]="!equipment.isChecked" required></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--Modal-->
<div class="modal" id="allocateEmployeeEquipment" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Allocate equipments</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to allocate the following equipments?</p>
        <ul>
          <li *ngFor="let equipment of selectedEquipments;">{{equipment.name}}  {{equipment.startDate}}
            {{equipment.endDate}}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="allocateEquipmentsToEmployee()">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>
