<div class="row padding-top-30-bottom-10">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-white-14">
      <li class="breadcrumb-item"><a href="#">MANAGIO</a></li>
      <li class="breadcrumb-item"><a href="#/employee">{{'employee.title' | translate}}</a></li>
      <li class="breadcrumb-item"><a href="#/employee">{{'employee-equipment.title' | translate}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{'employee-assign-equipment.title' | translate}}</li>
    </ol>
  </nav>
</div>
<div class="row padding-top-10-bottom-30">
  <div class="col-sm-6 offset-sm-3">
    <div class="text-center">
      <div>
        <h1>{{'employee-assign-equipment.title' | translate}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
<div class="row">
  <div class="d-flex w-100 justify-content-between">
    <button type="button" class="btn btn-primary float-left margin-bottom-8" data-toggle="modal"
            data-target="#allocateEmployeeEquipment">{{'employee-assign-equipment.allocate-button' | translate}}
    </button>
    <form [formGroup]="filterByEquipmentName">
      <div class="input-group">
        <input class="form-control py-2" type="search" formControlName="searchValue">
        <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="filterEquipmentsByName()">
            <i class="fa fa-search"></i>
        </button>
      </span>
      </div>
    </form>
  </div>
</div>
    <div class="row">
    <table class="table ">
      <thead class="table-active">
      <tr scope="row">
        <th scope="col">{{'employee-assign-equipment.name' | translate}}</th>
        <th scope="col">{{'employee-assign-equipment.code' | translate}}</th>
        <th scope="col">{{'employee-assign-equipment.mabecCode' | translate}}</th>
        <th scope="col">{{'employee-assign-equipment.protectionType' | translate}}</th>
        <th scope="col">{{'employee-assign-equipment.size' | translate}}</th>
        <th scope="col">{{'employee-assign-equipment.sex' | translate}}</th>
        <th scope="col">{{'employee-assign-equipment.expirationDate' | translate}}</th>
        <th scope="col">{{'employee-assign-equipment.allocate' | translate}}</th>
        <th scope="col">{{'employee-assign-equipment.start-date' | translate}}</th>
        <th scope="col">{{'employee-assign-equipment.end-date' | translate}}</th>
      </tr>
      </thead>
      <tbody class="table-hover">
      <tr *ngFor="let availableEquipment of availableEquipments;">
        <td>{{availableEquipment.name}}</td>
        <td>{{availableEquipment.code}}</td>
        <td>{{availableEquipment.mabecCode}}</td>
        <td>{{availableEquipment.protectionType}}</td>
        <td>{{availableEquipment.size}}</td>
        <td>{{availableEquipment.sex}}</td>
        <td>{{availableEquipment.expirationDate | date: 'MM/dd/yyyy'}}</td>
        <td><input type="checkbox" (click)="allocateOrDeallocateEquipment(availableEquipment)"></td>
        <td><input type="date" [(ngModel)]="availableEquipment.startDate" id="availableStartDate" [min]=this.today [max]=availableEquipment.expirationDate [disabled]="!availableEquipment.isChecked" required>
        </td>
        <td><input type="date" [(ngModel)]="availableEquipment.endDate" id="availableEndDate" [min]=this.today [max]=availableEquipment.expirationDate [disabled]="!availableEquipment.isChecked" required>
        </td>
      </tr>
      </tbody>
    </table>
    </div>
</div>
<!--Modal-->
<div class="modal" id="allocateEmployeeEquipment" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{'employee-assign-equipment.allocate-button' | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body height-500-overflow-y-scroll">
        <p>{{'employee-assign-equipment.warning' | translate}}</p>
        <table class="table">
          <thead class="table-active">
          <tr>
            <th scope="col">{{'employee-assign-equipment.name' | translate}}</th>
            <th scope="col">{{'employee-assign-equipment.code' | translate}}</th>
            <th scope="col">{{'employee-assign-equipment.start-date' | translate}}</th>
            <th scope="col">{{'employee-assign-equipment.end-date' | translate}}</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let selectedEquipment of selectedEquipments;">
            <td>{{selectedEquipment.name}}</td>
            <td>{{selectedEquipment.code}}</td>
            <td>{{selectedEquipment.startDate}}</td>
            <td>{{selectedEquipment.endDate}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <div class="col-6">
        <button type="button" class="btn btn-default btn-sm float-left btn-width-140" data-dismiss="modal">{{'employee-assign-equipment.cancel' | translate}}</button>
        </div>
        <div class="col-6">
        <button type="button" class="btn btn-primary btn-sm float-right btn-width-140" (click)="allocateEquipmentsToEmployee()">{{'employee-assign-equipment.save' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
</div>
