.breadcrumb-white-14 {
  background-color: white;
  font-size: 14px;
}

.margin-br-15 {
  margin-bottom: 15px;
  margin-right: 15px;
}

.mb-15-pl-pr-25 {
  margin-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
}

.pt-30-pb-10 {
  padding-top: 30px;
  padding-bottom: 10px;
}

input[type="file"] {
  display: none;
}
