<div class="container-fluid">
  <div class="row employee-list" >
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-white-14">
        <li class="breadcrumb-item"><a href="#">EIPL</a></li>
        <li class="breadcrumb-item"><a href="#">Employee</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employee List</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4">
      <h2 class="text-center">Employees</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <form [formGroup]="stringForm" class="form">
      <div class="input-group col-md-6 offset-6" style="padding-bottom: 20px">
        <input class="form-control py-2" type="search" id="example-search-input" formControlName="searchValue">
        <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="fill()">
            <i class="fa fa-search"></i>
        </button>
      </span>
      </div>
      </form>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Employee</th>
          <th scope="col">Actions</th>
          <th scope="col">Employee</th>
          <th scope="col">Actions</th>
          <th scope="col">Employee</th>
          <th scope="col">Actions</th>
          <th scope="col">Employee</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let employeeGroup of  this.groupedEmployees">
          <ng-container *ngFor="let employee of employeeGroup">
            <td>{{employee.firstName}} {{employee.lastName}}</td>
            <td><i class="fas fa-user"></i> &nbsp;<i class="fas fa-tshirt"></i></td>
          </ng-container>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
