<div class="container-fluid">
  <div class="row">
    <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4 padding-20">
      <h2 class="text-center">Assigned equipments</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-10 offset-sm-1">
      <button type="button" class="btn btn-primary float-left width-140 margin-bottom-10">Add equipment</button>
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Size</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Sex</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let equipment of equipments;">
          <td>{{equipment.name}}</td>
          <td>{{equipment.size}}</td>
          <td>{{equipment.startDate}}</td>
          <td>{{equipment.endDate}}</td>
          <td>{{equipment.sex}}</td>
          <td></td>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>






  <!--&lt;!&ndash;Modal&ndash;&gt;-->
  <!--<div class="modal" id="addEquipmentModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle"-->
       <!--aria-hidden="true">-->
    <!--<div class="modal-dialog modal-dialog-centered modal-m" role="document">-->

      <!--<div class="modal-content">-->
        <!--<div class="modal-header col-xs-4 offset-2">-->
          <!--<h2>Add new equipment</h2>-->
        <!--</div>-->

        <!--<div class="modal-body ">-->

          <!--<div class="row">-->
            <!--<div class="col-xs-4 offset-3">-->
              <!--<form [formGroup]="addequipment" >-->
                <!--<div class="row-fluid">-->

                  <!--<div class="form-group">-->
                    <!--<label for="name">Name</label>-->
                    <!--<input type="text"  placeholder="Name"-->
                           <!--required="required" id="name" class="form-control" formControlName="name">-->
                  <!--</div>-->

                  <!--<div class="form-group">-->
                    <!--<label for="code">Code</label>-->
                    <!--<input type="text"  placeholder="Code"-->
                           <!--required="required" id="code" class="form-control" formControlName="code">-->
                  <!--</div>-->


                  <!--<div class="form-group">-->
                    <!--<label>Choose the MabecCode:-->
                      <!--<select class="form-control"  formControlName="mabecCode" id="'my-select">-->
                        <!--<option value="" disabled selected>Mabec code</option>-->
                        <!--<option *ngFor="let o of optionArray" [value]="o" > {{o}}</option>-->
                      <!--</select>-->
                    <!--</label>-->
                  <!--</div>-->


                  <!--<div class="form-group">-->
                    <!--<label for="protectionType">Protection type</label>-->
                    <!--<input type="text"  placeholder="Protection type"-->
                           <!--required="required" id="protectionType" class="form-control" formControlName="protectionType">-->
                  <!--</div>-->

                  <!--<div class="form-group">-->
                    <!--<label for="size">Size</label>-->
                    <!--<input type="text"  placeholder="Size"-->
                           <!--required="required" id="size" class="form-control" formControlName="size">-->
                    <!--<small *ngIf="addequipment.get('size').errors">*Size should only contain capital letters and numbers</small>-->
                  <!--</div>-->


                  <!--<fieldset class="form-group" >-->
                    <!--<label>Sex:-->

                      <!--<label class="form-check-label form-check">-->
                        <!--<input type="radio" class="form-check-input " name="sex"-->
                               <!--value="M"-->
                               <!--formControlName="sex" >-->
                        <!--MALE-->
                      <!--</label>-->

                      <!--<label class="form-check-label form-check">-->
                        <!--<input type="radio" class="form-check-input" name="sex"-->
                               <!--value="F"-->
                               <!--formControlName="sex">-->
                        <!--FEMALE-->
                      <!--</label>-->

                    <!--</label>-->
                  <!--</fieldset>-->

                <!--</div>-->
              <!--</form>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="modal-footer my-modal">-->
          <!--<div class="col-xs-12">-->
            <!--<div class="d-flex w-100 justify-content-between">-->
              <!--<button class="btn btn-secondary btn-block rounded m-0" data-dismiss="modal" >-->
                <!--<span>Cancel</span>-->
              <!--</button>-->
              <!--<div class="m-3"></div>-->
              <!--<button type="submit"-->
                      <!--class="btn btn-primary btn-block rounded m-0" [disabled]="!addequipment.valid" data-dismiss="modal" (click)="createEquipment()">-->
                <!--<span>Save</span>-->
              <!--</button>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
