<div class="row padding-top-30-bottom-10">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-white-14">
      <li class="breadcrumb-item"><a href="#">EIPL</a></li>
      <li class="breadcrumb-item"><a href="#">Management users</a></li>
      <li class="breadcrumb-item active" aria-current="page">User List</li>
    </ol>
  </nav>
</div>
<div class="row padding-top-10-bottom-30">
  <div class="col-sm-4 offset-sm-4">
    <div class="text-center">
      <div>
        <h1>User List</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <a class="btn btn-outline-secondary  width-140-margin-right-15 margin-7" [routerLink]="'/management-users/add'">Add
    User</a>
</div>
<div class="row">
  <table class="table">
    <thead class="table-active">
    <tr scope="row">
      <th scope="col">Username</th>
      <th scope="col">Surname</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
      <th scope="col">Rol</th>
      <th scope="col">Actiuni</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr *ngFor="let user of users;">
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.isActive}}</td>
      <td>{{user.userRole | lowercase}}</td>
      <td><i class="fas fa-pencil-alt" [routerLink]="'/management-users/edit/' + user.id"></i>&nbsp;
        <i class="fas fa-trash-alt"></i></td>
    </tr>
    </tbody>
  </table>
</div>
<app-pagination
  [service]="userService"
  [subscription]="userSubscription"
  [baseURL]="baseURL"
  (retrieveContent)="getPaginatedList($event)">
</app-pagination>
