<h1 align="center">{{'user-list.title' | translate}}</h1>
<div class="row padding-button-10">
  <a class="btn btn-primary" [routerLink]="'/management-users/add'">{{'user-list.add' | translate}}</a>
</div>
<div class="row">
  <table class="table">
    <thead>
    <tr>
      <th>{{'user-list.username' | translate}}</th>
      <th>{{'user-list.firstname' | translate}}</th>
      <th>{{'user-list.lastname' | translate}}</th>
      <th>{{'user-list.email' | translate}}</th>
      <th>{{'user-list.status' | translate}}</th>
      <th>{{'user-list.role' | translate}}</th>
      <th>{{'user-list.actions' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users;">
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.isActive}}</td>
      <td>{{user.userRole | lowercase}}</td>
      <td><i class="fas fa-pencil-alt" [routerLink]="'/management-users/edit/' + user.id"></i>&nbsp;
          <i class="fas fa-trash-alt"></i></td>
    </tr>
    </tbody>
  </table>
</div>

<app-pagination
  [service]="userService"
  [subscription]="userSubscription"
  [baseURL]="baseURL"
  (retrieveContent)="getPaginatedList($event)">
</app-pagination>
