<div class="row padding-top-30-bottom-10">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-white-14">
      <li class="breadcrumb-item"><a href="#">MANAGIO</a></li>
      <li class="breadcrumb-item"><a>{{'navbar.management-users' | translate}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{'user-list.title' | translate}}</li>
    </ol>
  </nav>
</div>
<div class="row padding-top-10-bottom-30">
  <div class="col-sm-4 offset-sm-4">
    <div class="text-center">
      <div>
        <h1>{{'user-list.title' | translate}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <a class="btn btn-primary margin-7" [routerLink]="'/management-users/add'">
    {{'user-list.add' | translate}}
  </a>
</div>
<div class="row">
  <table class="table">
    <thead class="table-active">
    <tr scope="row">
      <th scope="col">{{'user-list.username' | translate}}</th>
      <th scope="col">{{'user-list.firstname' | translate}}</th>
      <th scope="col">{{'user-list.lastname' | translate}}</th>
      <th scope="col">{{'user-list.email' | translate}}</th>
      <th scope="col">{{'user-list.status' | translate}}</th>
      <th scope="col">{{'user-list.role' | translate}}</th>
      <th scope="col">{{'user-list.actions' | translate}}</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr *ngFor="let user of users;">
      <td>{{user.username}}</td>
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td *ngIf="user.isActive">Active</td>
      <td *ngIf="user.isActive == false">Inactive</td>
      <td>{{user.userRole | lowercase}}</td>
      <td><i class="fas fa-pencil-alt" [routerLink]="'/management-users/edit/' + user.id"></i>&nbsp;
        <i class="fas fa-trash-alt" (click)="prepareDelete(user)" data-target="#deleteUser" data-toggle="modal"></i></td>
    </tr>
    </tbody>
  </table>
</div>
<app-pagination
  [service]="userService"
  [subscription]="userSubscription"
  [baseURL]="baseURL"
  (retrieveContent)="getPaginatedList($event)">
</app-pagination>

<div *ngIf="targetUser" class="modal" id="deleteUser" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>{{'user-list.warning' | translate}}{{targetUser.firstName}}
          {{targetUser.lastName}}?</h5>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteUser()">
          {{'employee-equipment.yes' | translate}}
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          {{'employee-equipment.no' | translate}}
        </button>
      </div>
    </div>
  </div>
</div>
