<div class="row padding-top-30-bottom-10">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-white-14">
      <li class="breadcrumb-item"><a href="#">EIPL</a></li>
      <li class="breadcrumb-item"><a href="#">Employee</a></li>
      <li class="breadcrumb-item active" aria-current="page">Employee Equipment</li>
    </ol>
  </nav>
</div>
<div class="row padding-top-10-bottom-30">
  <div class="col-md-6 offset-md-3">
    <div class="text-center">
      <div>
        <h1>Employee Equipment</h1>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <button class="btn btn-primary width-140-margin-right-15 margin-7">Add</button>
</div>
<div class="row">
<table class="table">
  <thead class="table-active">
  <tr scope="row">
    <th scope="col">Equipment name</th>
    <th scope="col">Size</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    <th scope="col">Sex</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody class="table-hover">
  <tr *ngFor="let employeeEquipment of employeeEquipmentList">
    <td>{{employeeEquipment.equipment.name}}</td>
    <td>{{employeeEquipment.equipment.size}}</td>
    <td>{{employeeEquipment.startDate}}</td>
    <td>{{employeeEquipment.endDate}}</td>
    <td>{{employeeEquipment.equipment.sex}}</td>
    <td><i class="fas fa-pencil-alt" (click)="prepareEdit(employeeEquipment)" data-toggle="modal"
           data-target="#editEmployeeEquipment"></i>&nbsp;
      <i class="fas fa-trash-alt" (click)="prepareDelete(employeeEquipment)" data-toggle="modal"
         data-target="#deleteEmployeeEquipment"></i></td>
  </tr>
  </tbody>
</table>
</div>
<!-- Modal -->
<div class="modal" id="editEmployeeEquipment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit equipment</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="editEquipmentForm">
          <label>
            Start date
            <input type="date" name="start-date" class="form-control" formControlName="startDate">
          </label>
          <label>
            End date
            <input type="date" name="end-date" class="form-control" formControlName="endDate">
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateEmployeeEquipment()">Submit
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div *ngIf="targetEmployeeEquipment" class="modal" id="deleteEmployeeEquipment" tabindex="-1" role="dialog"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Are you sure you want to deallocate {{targetEmployeeEquipment.equipment.name}},
          {{targetEmployeeEquipment.equipment.size}}, {{targetEmployeeEquipment.equipment.sex}} from
          {{targetEmployeeEquipment.employee.firstName}} {{targetEmployeeEquipment.employee.lastName}}?</h5>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEmployeeEquipment()">Yes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
