<div class="row">
  <div class="col-sm-8 offset-sm-2 col-md-4 offset-md-4">
    <h2 class="text-center">Employee equipment</h2>
  </div>
</div>
<div class="row">
  <button class="btn btn-primary">Add equipment</button>
</div>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Equipment name</th>
    <th scope="col">Size</th>
    <th scope="col">Start Date</th>
    <th scope="col">End Date</th>
    <th scope="col">Sex</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let employeeEquipment of employeeEquipmentList">
    <td>{{employeeEquipment.equipment.name}}</td>
    <td>{{employeeEquipment.equipment.size}}</td>
    <td>{{employeeEquipment.startDate}}</td>
    <td>{{employeeEquipment.endDate}}</td>
    <td>{{employeeEquipment.equipment.sex}}</td>
    <td><i class="fas fa-pencil-alt" (click)="prepareEdit(employeeEquipment)" data-toggle="modal"
           data-target="#editEmployeeEquipment"></i>&nbsp;
      <i class="fas fa-trash-alt" (click)="prepareDelete(employeeEquipment)" data-toggle="modal"
         data-target="#deleteEmployeeEquipment"></i></td>
  </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal" id="editEmployeeEquipment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit equipment</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="editEquipmentForm">
          <label>
            Start date
            <input type="date" name="start-date" class="form-control" formControlName="startDate">
          </label>

          <label>
            End date
            <input type="date" name="end-date" class="form-control" formControlName="endDate">
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateEmployeeEquipment()">Submit
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal" id="deleteEmployeeEquipment" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5>Are you sure you want to deallocate {{targetEmployeeEquipment.equipment.name}},
          {{targetEmployeeEquipment.equipment.size}}, {{targetEmployeeEquipment.equipment.sex}} from
          {{targetEmployeeEquipment.employee.firstName}} {{targetEmployeeEquipment.employee.lastName}}?</h5>
      </div>
      <div class="modal-body">
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteEmployeeEquipment()">Yes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
      </div>
    </div>
  </div>
</div>
