<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container-fluid">
    <h4>EIPL</h4>
    <div class="col-xs-6  ">
      <ul class="navbar-nav ">
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/management-users">MANAGEMENT
          USERS</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/management-forms">MANAGEMENT
          FORMS</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/employees">EMPLOYEES</a></li>
        <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/reports">REPORTS</a></li>
      </ul>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" appDropdown>
        <a class="dropdown-toggle cursor-pointer" role="button"><i class="fas fa-user"></i><span
          class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="cursor-pointer">Edit profile</a></li>
          <li><a class="cursor-pointer">Sign out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>



