<div class="container-fluid">
  <div class="row employee-list">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb breadcrumb-white-14">
        <li class="breadcrumb-item"><a href="#">EIPL</a></li>
        <li class="breadcrumb-item"><a href="#">Employee</a></li>
        <li class="breadcrumb-item active" aria-current="page">Employee Info</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <div class="text-center padd">
        <div>
          <h2>{{firstName}} {{lastName}}'s Infos</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 offset-sm-4">
      <form class="form " [formGroup]="editsizes">
        <div class="form-group">
          <label>Working station</label>
          <input type="text" class="form-control" placeholder="working station" formControlName="workingStation"
                 readonly>
        </div>
        <div class="form-group">
          <label>Helmet Size</label>
          <input type="text" class="form-control" placeholder="helmet size" formControlName="helmetSize">
        </div>
        <div class="form-group">
          <label>Clothing Size</label>
          <input type="text" class="form-control" placeholder="clothing size" formControlName="clothingSize">
        </div>
        <div class="form-group">
          <label>Footwear Size</label>
          <input type="text" class="form-control" placeholder="footwear size" formControlName="footwearSize">
        </div>
        <div >
          <div class="d-flex w-100 justify-content-between">
            <button class="btn btn-secondary btn-block rounded m-0" routerLink="/employee">
              <span>CANCEL</span>
            </button>
            <div class="m-2"></div>
            <button type="button" data-toggle="modal" data-target="#confirmModal"
                    class="btn btn-primary btn-block rounded m-0" (click)="onSubmit()">
              <span>SAVE</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
