<div class="row padding-top-30-bottom-10">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb breadcrumb-white-14">
      <li class="breadcrumb-item"><a href="#">EIPL</a></li>
      <li class="breadcrumb-item"><a href="#">Employee</a></li>
      <li class="breadcrumb-item active" aria-current="page">Employee List</li>
    </ol>
  </nav>
</div>
<div class="row padding-top-10-bottom-30">
  <div class="col-sm-4 offset-sm-4">
    <div class="text-center">
      <div>
        <h1>Employees</h1>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="d-flex w-100 justify-content-between">
    <form name="employeeForm" class="float-left">
      <label for="file-upload" class="btn btn-success width-140-margin-right-15">
        Upload </label>
      <input id="file-upload" type="file" (change)="upload($event)" accept=".csv"/>
    </form>
    <form [formGroup]="stringForm">
      <div class="input-group">
        <input class="form-control py-2" type="search" id="example-search-input" formControlName="searchValue">
        <span class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="fill()">
            <i class="fa fa-search"></i>
        </button>
      </span>
      </div>
    </form>
  </div>
  <div class="row">
    <table class="table">
      <thead class="table-active">
      <tr scope="row">
        <th scope="col">Employee</th>
        <th scope="col">Actions</th>
        <th scope="col">Employee</th>
        <th scope="col">Actions</th>
        <th scope="col">Employee</th>
        <th scope="col">Actions</th>
        <th scope="col">Employee</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody class="table-hover">
      <tr *ngFor="let employeeGroup of  this.groupedEmployees">
        <ng-container *ngFor="let employee of employeeGroup">
          <td>{{employee.firstName}} {{employee.lastName}}</td>
          <td>
            <i class="fas fa-user" [routerLink]="'/employee/' + employee.id"></i> &nbsp;
            <i class="fas fa-tshirt" [routerLink]="'/employee/' + employee.id + '/equipment'"></i>
          </td>
        </ng-container>
      </tr>
      </tbody>
    </table>
  </div>
</div>

